# High-level system overview and terms of use

## Your section

## Feedback

Everyone is kindly encouraged to send any kind of feedback which will help with making the whole user
experience
more seamless. Link to the [feedback form](/feedback) is available at the bottom of
each page.
