{% extends "webapp/user_reports.html" %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li><a href="{{ url('index') }}">Home</a></li>
    <li><a href="{{ url('staff_dashboard') }}">Staff dashboard</a></li>
    <li><a href="{{ url('staff_group_tasks', args=[group.id]) }}">{{ group.name|truncate(35) }}</a></li>
    <li class="active">All submissions from {{ user.last_name }}</li>
</ol>
{% endblock %}

{% block body %}
    <h2>Submissions of {{ user.first_name|short_name }} {{ user.last_name }} to {{ group.name|truncate(40) }}</h2>
    <hr>
    {% if not evaluations %}
        <div class="alert alert-info">
            <span class="glyphicon glyphicon-info-sign"></span>&nbsp;There are no reports from user
        </div>
    {% else %}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="35%">Set – Task</th>
                        <th width="18%">Submit time</th>
                        <th width="22%">Status</th>
                        <th width="5%">Result</th>
                        <th width="20%"></th>
                    </tr>
                </thead>
                <tbody>
                {% for evaluation in evaluations %}
                    {% with submission = evaluation.submission %}
                        <tr{% if evaluation.is_invalid %} class="danger"{% endif %}>
                            <td>{{ evaluation.set_name|truncate(30) }} – <a href="{{ url('staff_task_details', args=[submission.task_id]) }}">{{ evaluation.task_name|truncate(30) }}</a></td>
                            <td>{{ submission.submitted|fltime }}</td>
                            <td>
                                {% if evaluation.status == 'ok' %}
                                    <span class="label label-success"><span class="glyphicon glyphicon-ok"></span>&nbsp;evaluated</span>
                                {% else %}
                                    <span class="label label-danger"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;rejected</span>
                                {% endif %}
                                {% if evaluation.best == 1%}
                                    <span class="label label-success"><span class="glyphicon glyphicon-star"></span>&nbsp;best</span>
                                {% endif %}
                                {% if evaluation.latest == 1%}
                                    <span class="label label-warning"><span class="glyphicon glyphicon-time"></span>&nbsp;latest</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if evaluation.score is not none %}
                                    {% if evaluation.is_invalid %}<del class="text-{{ evaluation.view_info.color }}">{% endif %}
                                        <span class="text-{{ evaluation.view_info.color }}">{{ evaluation.score }}%</span>
                                    {% if evaluation.is_invalid %}</del>{% endif %}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                <a href="{{ url('staff_submission_reevaluate', args=[submission.uuid]) }}?next={{ url('staff_group_user_reports', args=[group.id, user.id]) }}" class="btn btn-xs btn-default">
                                    <span class="glyphicon glyphicon-repeat"></span> Re-evaluate
                                </a>
                                <a href="{{ url('staff_submission_report', args=[submission.uuid]) }}" class="btn btn-xs btn-default">
                                    <span class="glyphicon glyphicon-list-alt"></span> View report
                                </a>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}