"""
WSGI config for algoweb project.

It exposes the WSGI callable as a module-level variable named ``application``.

For more information on this file, see
https://docs.djangoproject.com/en/1.9/howto/deployment/wsgi/
"""

import os
import sys

from django.core.wsgi import get_wsgi_application

sys.stdout = sys.__stdout__
sys.stderr = sys.__stderr__

os.environ['DJANGO_SETTINGS_MODULE'] = 'algoweb.settings'
os.environ['REQUESTS_CA_BUNDLE'] = '/etc/ssl/certs/ca-certificates.crt'

application = get_wsgi_application()
