{% extends "webapp/_layout.html" %}

{% set _classes = 'col-sm-12 col-sm-offset-0 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2' %}
{% if extra_narrow %}
    {% set _classes = 'col-xs-12 col-xs-offset-0 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3' %}
{% endif %}

{% block body_elements %}
    <div class="container body-content">
        <div class="row">
            <div class="{{ _classes }}">
                {% block global_alert_message %}{{ super() }}{% endblock %}
                {% block messages %}{{ super() }}{% endblock %}
                {% block breadcrumb %}{% endblock %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
