{% extends "webapp/_layout.html" %}

{% block messages %}
    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
            {% include "webapp/_messages.html" %}
        </div>
    </div>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
        <h2 class="text-center">Login</h2>
            {% from "webapp/macro/forms.html" import bootsrap_input, h_field_errors %}
            <form method="POST" action="{{ url('internal_login') }}" id="login-form">
                {{ csrf_input }}
                {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        {% if field.label %}
                            <label class="control-label">
                                {{ field.label }}
                            </label>
                        {% endif %}
                        {{ bootsrap_input(field) }}
                        {{ h_field_errors(field) }}
                    </div>
                {% endfor %}
            <button type="submit" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-send"></span> Login</button>
            </form>
        </div>
    </div>

{% endblock %}

{% block scripts %}
<script src="{{ static("webapp/js/forms.js") }}"></script>
{% endblock %}
